@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Inter Variable", "JetBrainsMono Nerd Font Propo", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @on_primary;
}

tooltip {
  background: @background;
  border-radius: 20px;
}

tooltip label {
  color: @primary;
  padding: 10px;
}

#workspaces {
  margin: 2px 5px;
  background: @background;
  border-radius: 20px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#workspaces button {
  margin: 2px 5px;
  border-radius: 10px;
  background: @background;
  color: @primary;
  border-bottom: 3px solid transparent;
}


#workspaces button:hover {
  font-weight: bold;
}

#workspaces button.active {
  color: @on_primary;
  background: @primary;
  padding: 3px 15px;
  border-radius: 15px;
}

#workspaces button.urgent {
  color: @error;
  background: @error_container;
}

#clock, #pulseaudio, #network, #bluetooth {
    margin: 2px 5px;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: @background;
    color: @primary;
    font-weight: bold;
}

#clock{
  background-color: @primary;
  color: @on_primary;
  font-weight: bolder;
  font-size: 1.5rem;
}

#clock.date{
  font-size: 1.1rem;
  font-weight: bold;
  color: @primary;
  background-color: @background;
}

#memory, #cpu, #custom-nvidia {
    padding: 5px 10px;
    min-width: 110px;
    background-color: @background;
    margin: 2px 5px;
    border-radius: 20px;
    color: @tritiery;
    font-weight: bold;
}

#custom-nvidia {
    min-width: 120px;
}

#hyprland-window {
    color: @on_primary;
    font-size: 1.5rem;
}

#window label {
  padding: 0px 20px;
  font-size: 1.1rem;
  color: @on_primary;
  font-weight: bolder;
}

#custom-notification{
  font-size: 1rem;
  min-width: 40px;
  padding: 0;
  margin: 5px;
  background-color: @secondary;
  color: @on_secondary;
  border-radius: 100%;
}
