@import "colors.css";


* {
  border: none;
  border-radius: 0;
  font-family: "Inter Variable", "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @on_primary;
}

tooltip {
  background: @secondary_container 50%;
  border-radius: 20px;
}

tooltip label {
  color: @secondary;
}

#workspaces button {
  margin: 2px 5px;
  border-radius: 10px;
  padding: 5px 8px;
  background: @primary;
  color: @on_primary;
  border-bottom: 3px solid transparent;
}


#workspaces button:hover {
  font-weight: bold;
}

#workspaces button.active {
  color: @on_tertiary;
  background: @tertiary;
  padding: 5px 15px;
  border-radius: 15px;
}

#clock, #pulseaudio, #network, #bluetooth {
    margin: 2px 5px;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: @primary;
    color: @on_primary;
}

#memory, #cpu, #custom-nvidia {
    padding: 5px 10px;
    min-width: 100px;
    background-color: @secondary;
    margin: 2px 5px;
    border-radius: 10px;
    color: @on_secondary;
}

#hyprland-window {
    color: @on_primary;
    font-size: 1.5rem;
}
